/* Color palette to be used: #cdb4db #ffc8dd #ffafcc #bde0fe #a2d2ff */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
} 

body{
    background: linear-gradient(to left, #ffb4f4, #fed8ff, #fed8ff, #ffdaf9);
    user-select: none;
    img {
        /* user-drag: none; */
        -webkit-user-drag: none;
        user-select: none;
        -webkit-user-select: none;
    }
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    background: transparent;
    backdrop-filter: blur(10px);
}

#chk1 {
    display: none;
}

i {
    color: #fff;
    cursor: pointer;
}

header ul {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

header ul li {
    list-style: none;
    text-shadow: 2px 2px 4px black;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover {
    color: aqua;
}

header .menu {
    font-size: 2.5em;
    display: none;
}

#navbar{
    transition: top 0.3s ease-in-out;
}

@media (max-width:1000px) {
    header ul {
        position: fixed;
        top: 100px;
        right: -100%;
        background: transparent;
        backdrop-filter: blur(10px);
        height: calc((100vh - 100px));
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }

    header .menu {
        display: block;
        width: 100%;
        text-align: center;
    }

    #chk1:checked~ul {
        right: 0;
    }
}

@media (max-width:600px) {
    header ul {
        width: 100%;
        background: transparent;
        backdrop-filter: blur(10px);
    }
}

.cover_main {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.cover {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 5;
}

svg {
    height: 100vh;
    width: 50%;
    margin-left: 50%;
}

.newImage {
    height: 70px;
    width: 70px;
}

.text {
    position: relative;
    color: black;
    font-size: 80px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20%;
}

.text.first-text {
    /* color: white; */
    color: black;
}

.text.second-text {
    color: red;
}

.text.second-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fed8ff;
    border-left: 2px solid;
    animation: animate 2.5s steps(5) infinite;
    color: black;
}

@keyframes animate {

    40%,
    60% {
        left: calc(100% + 4px);
    }

    100% {
        left: 0%;
    }
}

.banner{
    width: 1200vmax;
    font-size: 80px;
    }

.banner h1{
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    background-color: yellow;
    text-shadow: -5px 3px orangered;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Teko, Oswald, sans-serif;
}

.banner::-webkit-scrollbar{
    display: none;
}

.achievements {
    min-height: 100vh;
    width: 100%;
}

.PHOTOS {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15%;
}

.achievements h1 {
    color: #a55050;
    text-shadow: 3px 3px yellow;
    font-size: 60px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: rowdies;
    font-weight: 500;
}

.gallery {
    width: 100%;
}

.gallery-container {
    align-items: center;
    display: flex;
    height: 400px;
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.gallery-item {
    height: 400px;
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    width: 300px;
    z-index: 0;
    border-radius: 15px;
    background-size: contain;
}

.gallery-item-1 {
    left: 25%;
    opacity: 0.4;
    transform: translateX(-90%);
}

.gallery-item-2,
.gallery-item-4 {
    height: 250px;
    opacity: 0.8;
    width: 300px;
    z-index: 3;
}

.gallery-item-2 {
    height: 450px;
    left: 25%;
    transform: translateX(-60%);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px rgba(0, 0, 0, 0.35);
    height: 560px;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 410px;
    z-index: 4;
}

.gallery-item-4 {
    left: 60%;
    transform: translateX(-50%);
    height: 450px;
    width: 500px;
}

.gallery-item-5 {
    left: 75%;
    opacity: .4;
    width: 320px;
    transform: translateX(-30%);
    z-index: 2;
}

.gallery-item-6 {
    left: 90%;
    opacity: .2;
    width: 320px;
    transform: translateX(-90%);
    z-index: 1;
}

.gallery-item-7 {
    left: 50%;
    opacity: 0;
    width: 320px;
    transform: translateX(-90%);
    z-index: 1;
}


.gallery-controls {
    display: flex;
    justify-content: center;
    margin: 90px 0;
    height: 100px;
}

.gallery-controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 30px;
    margin: 0 50px;
    padding: 0 12px;
    text-transform: capitalize;
}

.gallery-controls-button:focus {
    outline: none;
}

.gallery-controls-previous {
    position: relative;
}

.gallery-controls-previous::before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    left: -30px;
    padding: 10px;
    position: absolute;
    top: 25%;
    transform: rotate(135deg) translateY(-50%);
    transition: left 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-previous:hover::before {
    left: -40px;
}

.gallery-controls-next {
    position: relative;
}

.gallery-controls-next::before {
    border: solid #000;
    border-width: 0 5px 5px 0;
    content: '';
    display: inline-block;
    height: 5px;
    padding: 10px;
    position: absolute;
    right: -30px;
    top: 43px;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 5px;
}

.gallery-controls-next:hover::before {
    right: -40px;
}

.gallery-nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.gallery nav li {
    background: #ccc;
    border-radius: 50%;
    height: 10px;
    margin: 0 16px;
    width: 10px;
}

.gallery-nav li.gallery-item-selected {
    background: #555;
}

.greeting {
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.greeting h1 {
    color: #a55050;
    text-shadow: 3px 3px yellow;
    font-size: 60px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: rowdies;
    font-weight: 500;
}

.note {
    height: 100%;
    position:relative;
    padding-left: 9%;
    padding-top: 2%;
}

.greeting .note p{
    z-index: 5;
    font-family: 'Southampton', sans-serif;
}

@font-face {
    font-family: Southampton;
    src: url("southampton/Southampton.ttf");
}

.msg{
    width: 75%;
    padding-left: 10%;
    font-family: 'Southampton', sans-serif;
    position: absolute;
    top: 30%;
    font-size: 30px;
    letter-spacing: 3.5px;
}

.gift {
    z-index: 10;
    min-height: 115vh;
    width: 100%;
    display: flex;        
    flex-direction: column; 
    justify-content: center; 
    align-items: center;    
}

.gift img {
    min-height: 50vh;
    min-width: 50vw;
    display: block;         
}

.gift h1 {
    color: #a55050;
    text-shadow: 3px 3px yellow;
    font-size: 60px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    font-family: rowdies;
    font-weight: 500;
}


.rowdies-light {
    font-family: "Rowdies", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rowdies-regular {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rowdies-bold {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: normal;
}